html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#titleDiv {
  font-size: 18pt;
  padding: 10px;
  font-weight: 800;
}

#subtitleDiv{
  font-size: 10pt;
  padding-bottom: 10px;
}

#ui-controls{
  padding: 10px;
  width: 250px;
}

#sliders-container{
  display: flex;
  width: 300px;
}

#size-options{
  display: none;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 300px;

}

#opacity-options {
  display: none;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 300px;

}

#symbol-sizes-container{
  width: 300px;
}

#symbol-sizes{
  width: 300px;
  height: 50px;
}


#save-map{
  height: 32px;
  width: 32px;
  display: none;
}

.size-options-labels {
  background-color: white;
  padding: 5px;
}

#use-donuts-parent {
  display: none;
}

/* #symbol-color-container {
  display: none;
}

#opacity-values-container {
  display: none;
} */